body {
  padding: 24px;
  text-align: center;
}
.weather-app {
  border: 4px outset #4db3a9;
  border-radius: 7px;
  padding: 24px;
  max-width: 700px;
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom,
    #97babb,
    #a8c5c8,
    #bad1d4,
    #cbdce0,
    #dde8eb
  );
}
